/* Estilo general del cuerpo */
body {
    background-image: url('imgs/background.jpg');
    font-family: 'Arial', sans-serif; /* Tipografía */
    background-size: cover; /* Cubrir toda la pantalla */
    background-position: center; /* Centrar la imagen */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100vh; /* Altura completa de la ventana */
    color: #333; /* Color del texto */
}

/* Contenedor del formulario */
.container {
   
    background: rgba(189, 189, 189, 0.9); /* Fondo blanco con opacidad */
    padding: 15px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
    width: 350px; /* Ancho del formulario */
    text-align: center; /* Centrar el texto */
}

.logoutt{
    width: 350px;
    height: 350px;
}
/* Estilo del encabezado h1 */
h1 {
    color: greenyellow; /* Color del encabezado */
    margin-bottom: 10px; /* Espacio debajo */
}

/* Estilo del subtítulo h2 */
h2 {
    font-size: 14px; /* Tamaño del texto */
    margin: 0; /* Sin márgenes */
}

/* Estilo para campos de entrada */
input[type="text"], 
input[type="password"],
input[type="email"], 
textarea {
    width: 100%; /* Ancho completo */
    padding: 12px; /* Espacio interno */
    margin: 10px 0; /* Margen entre campos */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye padding en el ancho */
}

/* Estilo para el botón */
button {
    background-color: #007BFF; /* Color del botón */
    color: white; /* Texto blanco */
    padding: 12px; /* Espacio interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar */
    width: 100%; /* Ancho completo */
    font-size: 16px; /* Tamaño del texto */
}

/* Cambiar color del botón al pasar el mouse */
button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

/* Estilo para enlaces */
a {
    display: block; /* Mostrar como bloque */
    margin-top: 10px; /* Espaciado superior */
    color: #007BFF; /* Color azul */
    text-decoration: none; /* Sin subrayado */
    font-size: 14px; /* Tamaño del texto */
}

/* Subrayar enlaces al pasar el mouse */
a:hover {
    text-decoration: underline; /* Subrayar */
}
